html {
    height: 100%;
    width: 100%;
    font-family: Meiryo;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*テーマ設定*/
.theme {
    color: #000000;
    background-color: #ededed;
    border-color: #000000;
}

p {
    font-size: 120%;
    margin-bottom: 3px;
}

ul {
    margin-top: 0px;
}

#logo {
    width: 250px;
}

a{
    text-decoration: none;
}

#member img {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    border: 1px solid #000000;
}

#menu {
    width: 250px;
    height: 100%;
    float: left;
}

#theme_select {
    text-align: left;
    padding-left: 15px;
}

#playlist_container {
    word-wrap: normal;
}

#playlist div{
    font-size: 12px;
    border: 1px solid;
    margin: 2px;
}

#playlist img{
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 8px;
    border: 1px solid;
}

#viewer {
    overflow: auto;
    height: 250px;
    word-wrap: normal;
    border-bottom: 1px solid;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
    resize: vertical;
}

#home {
    display: block;
    height: 1200px;
}

#song_list {
    display: none;
}

.song_list_child {
    height: auto;
    width: auto;
    border: 1px solid;
    margin: 3px;
    padding: 3px;
    display: inline-block;
}

.song_list_child img{
    width: 250px;
    margin: 3px;
    border: 1px solid;
}

.song_list_child div{
    width: 500px;
    font-size: 12px;
}

#settings {
    display: none;
}

#help {
    display: none;
}

#member {
    word-wrap: normal;
}

#toggle_button_block {
    border-bottom: 1px solid;
    text-align: center;
}

#contents {
    overflow: auto;
    height: 100%;
    border-left: 1px solid;
}