/*テーマ設定*/
.theme {
    color: #ffffff;
    background-color: #282828;
    border-color: #ffffff;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Yu Gothic';
}

    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    p {
        font-size: 120%;
        margin-bottom: 2px;
    }

    ul {
        margin-top: 0px;
    }

    a {
        text-decoration: none;
    }

        #menu {
            height: 100%;
            width: 250px;
            float: left;
            overflow: auto;
            border-right: 1px solid;
        }

            #logo {
                width: 250px;
            }

            #menu ul{}

                #menu li:hover {
                    cursor: pointer;
                    background-color: #30524b;
                }

            #theme_select {
                text-align: left;
                padding-left: 15px;
            }

            #playlist_container {
                text-align: center;
            }

                #playlist_container p {
                    text-align: left;
                    vertical-align: middle;
                    width: 250px;
                }

                    #loop {
                        height: 12px;
                        width: 12px;
                        margin-left: 20px;
                    }

                    #loop_text {
                        font-size: 12px;
                    }

                #play_control {
                    margin: 1px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 12px;
                }

                    #play_control input {
                        height: 30px;
                        width: 50px;
                        font-size: 12px;
                    }

                #playlist{
                    text-align: center;
                }

                    #playlist div {
                        width: 240px;
                        font-size: 12px;
                        border: 1px solid;
                        margin-bottom: 2px;
                        margin-left: 4px;
                        overflow: auto;
                        white-space: nowrap;
                        text-align: left;
                    }

                    #playlist img {
                        width: 16px;
                        height: 16px;
                        margin-top: 5px;
                        margin-left: 2px;
                        border-radius: 8px;
                        border: 1px solid;
                    }
                
                    #playlist var {
                        display: none;

                    }
                
                    #playlist input {
                        font-size: 10px;
                    }
                
                    .playing {
                        background-color: aquamarine;
                        color: #000000;
                    }

                #clear_button {
                    width: 210px;
                }

        #contents {
            overflow: auto;
            height: 100%;
        }

            #viewer {
                overflow: visible;
                height: 200px;
                border-bottom: 1px solid;
                position: sticky;
                position: -webkit-sticky;
                text-align: center;
                top: 0;
                z-index: 3;
            }

            #home {
                display: block;
            }
                
                #home h3{
                    margin: 5px;
                }

                #home h4 {
                    margin: 5px;
                }

                #home img{
                    vertical-align: text-bottom;
                }

                #link_img {
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                }

                #procedure {
                    max-width: 100%;
                    height: auto;
                }

            #song_list {
                display: none;
            }

                #member {
                    word-wrap: normal;
                    display: block;
                }

                    #member img {
                        width: 58px;
                        height: 58px;
                        border-radius: 29px;
                        border: 1px solid #000000;
                    }

                    #member .disable {
                        display: none;
                    }

                #toggle_button_block {
                    border-bottom: 1px solid;
                    text-align: center;
                }

                #selected_member {
                    vertical-align: top;
                    text-align: center;
                }

                    .song_list_child {
                        height: auto;
                        width: 98%;
                        border: 1px solid;
                        margin: 2px;
                        padding: 3px;
                        display: inline-block;
                        text-align: left;
                    }

                    .song_list_child img {
                        width: 250px;
                        margin: 3px;
                        border: 1px solid;
                    }

                    .song_list_child div {
                        font-size: 12px;
                    }